@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Love+Ya+Like+A+Sister&display=swap");



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1024ff !important;
  
}

/* Nav */
.ShakesNav {
  font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-color: #6d84d0 !important;
    justify-content: space-between !important;
}
.nav-container {
  width: 100% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.shakesLogoNav {
  max-height: 90px;
}

.custom-toggle{
  color:#650031 !important;
  border-radius: 15px !important;
  background-color: #d990b6;
  box-shadow: 1px 1px 2px #650031;
  font-size: xx-large;
}

.custom-toggle:hover{
  color:#650031 !important;
  border-radius: 15px !important;
  background-color: #ffb1c7;
}

.navbar .nav-link {
  color:#ffeef1 !important;
}
.nav-search {
  font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.SearchButton {
  background-color: #d990b6 !important;
  border: none !important;
  color: #650031 !important;
  border-radius: 15px;
  font-size: larger;
  box-shadow: 1px 1px 2px #650031;
}

.SearchButton:hover {
  background-color: #e49ac0 !important;
}



/* Hero */
.hero-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.hero-grid {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-item {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-overlay h1 {
  font-size: 4rem;
  position: relative;
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),
        0 0 10px #d70170,
        0 0 20px #98aeff;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}



/* category grids */
.category-section {
  margin: 2rem 2rem;
  background-color: rgb(#ffd6ddff) !important;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  padding: 0; 
}

.category-header h2 {
  margin: 0;
}

.category-section h2 {
  font-family: "Love Ya Like A Sister", cursive;
  color:#ffd6ddff;
  text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),   
        0 0 10px #ffb1c7,                     
        0 0 20px #98aeff;
}

.cards-row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.category-card {
  min-width: 200px;
  flex: 0 0 auto;
}
.h-100 {
  background-color: #bdcbff
}
.category-card-img {
  width: 100%;
  height: 200px;       
  object-fit: cover;   
  object-position: center;
  border-radius: 6px; 
}

.seeAllBtn {
  background-color: #d990b6 !important;
  border: none !important;
  color: #650031 !important;
  border-radius: 15px;
  font-size: larger;
  padding:7px;
  box-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),   
        0 0 10px #ffb1c7,                     
        0 0 20px #98aeff;
  font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}
.seeAllBtn:hover {
    background-color: #e49ac0 !important;
}

.card-title {
  font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.card-category {
  font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.details-btn {
  background-color: #d990b6 !important;
  border: none !important;
  color: #650031 !important;
  border-radius: 15px;
  padding:7px;
  box-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),   
        0 0 10px #ffb1c7,                     
        0 0 20px #98aeff;
  font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}
.details-btn:hover {
  background-color: #e49ac0 !important;
}


/* footer */
.footer {
  background-color: #000;
  color: white;
  padding: 2rem;
  margin:0;
}

.footer ul {
  list-style: none;
  padding: 2px;
  margin: 0;
}
.footer li {
  padding: 5px;
}

.footerlink {
  text-decoration: none;
  color:white;
}

.footer h3 {
  font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

.footerlink:hover {
  text-decoration: none;
  color:#ebd1ff;
}



/* Details Page */